/* Navbar.css */
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(15, 96, 154);
    padding: 0px;
    z-index: 9999;
  }
  .techstore-logo{
    width:120px;
    height:100px;

  }
  .nav-bar-item {
    text-decoration: none;
    color: black;
    font-size: large;
 
  }
  
  .search-bar {
    width: 60vw;
    padding: 10px 15px;
    border: 1px solid lightgrey;
    border-radius: 14px;
  }
  
  .search-results-modal {
    position: absolute;
    top: 70px; /* Adjust the top position as per your preference */
    left: 205px;
    right: 0;
    max-width: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
 
  }
  
  .search-results-modal h3 {
    margin: 0;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  .search-results-modal div:last-child h3 {
    border-bottom: none;
  }
  
  .search-results-modal h3:hover {
    background-color: #f5f5f5;
  }
  