.sidebar {
  position: fixed;
  top: 140px;
  width: 240px;
  height: calc(95vh - 140px); 
  margin-left: 20px;
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(235, 235, 235);
  text-align: left;

}

.title {
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ratings {
  color: black;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 0px;
}

.filter-ratings {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 12px;
  margin-bottom: 15px;
  margin-left:-65px;
}
.slider-labels span{
    padding:0px 6px;
 
}
.sort-by-price{
    margin-top:40px;
    color:black;
    font-weight:bolder;

}
.sort,
div label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
}

.filter-by-category{
    margin-top:40px;
    color:black;
    font-weight:bolder;
}

.sort input[type="radio"],
div label input[type="checkbox"] {
  margin-right: 5px;
}

/* Optional: Increase the space between the filter and category labels */
.sort {
  margin-bottom: 20px;
}
