/* App.css */

.search-bar {
  margin-left: 10px;
}


/* Basic styles for the search results modal */
.search-results-modal {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  max-width: 400px; /* Set a maximum width for the modal */
 /* Center the modal horizontally */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 9999;
}

.search-results-modal h3 {
  margin: 0;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.search-results-modal div:last-child h3 {
  border-bottom: none; /* Remove bottom border for the last result */
}

.search-results-modal h3:hover {
  background-color: #f5f5f5; /* Highlight on hover */
}
